/* mods.css */
.mods-section {
    background: linear-gradient(180deg, #1f1347 0%, #0a0617 100%);
    color: white;
    padding: 100px 20px;
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mods-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    width: 100%;
}

.mods-container h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #57C4E5;
    text-shadow: 0 0 10px rgba(87, 196, 229, 0.5);
}

.mods-container p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 40px;
    color: #ccc;
}

.mod-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.mod-item {
    display: flex;
    align-items: center;
    background-color: #1f2025;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mod-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.mod-image-container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 30px;
}

.mod-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.mod-item:hover .mod-image {
    transform: scale(1.1);
}

.mod-details {
    flex-grow: 1;
    text-align: left;
}

.mod-details h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.mod-details p {
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.5;
    color: #ccc;
}

.download-button {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    background-color: #007aff;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #005bb5;
}

.download-button i {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .mod-item {
        flex-direction: column;
        text-align: center;
    }
    .mod-image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .download-button {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
}